@model Technician
@{
    ViewBag.Title = "Delete Technician";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Are you sure you want to delete "@ViewBag.Tech.Name"</p>
            <form asp-action="Delete" method="post">
                <div>
                    <button class="btn btn-danger" type="submit">@ViewBag.Title</button>
                    <a asp-controller="Technician" asp-action="List" class="btn btn-primary">No</a>
                </div>
            </form>
        </div>
    </div>
</div>