@model Technician
@{
    ViewBag.Title = "Add/Edit Page of Technician";
}

<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Technician are you ready to be updated?</p>
        </div>
    </div>
    <form asp-controller="Technician" asp-action="Edit" method="post">
        <div class="col-md-4">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <p><span class="text-danger" asp-validation-for="Name"></span></p>
        </div>
        <div class="col-md-7">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="text" class="form-control">
        </div>
        <div class="col-md-7">
            <label asp-for="Phone" class="form-label">Phone Number</label>
            <input asp-for="Phone" class="form-control">
        </div>
        <input type="hidden" asp-for="TechnicianId" />
        <br />
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
            <a asp-controller="Technician" asp-action="List" class="btn btn-primary">No</a>
        </div>
    </form>
</div>