@{
    ViewBag.Title = "Round Table - SportsPro";
    ViewBag.Action = "about";
}


<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">That's another EZ win!</h2>
            <h2 class="text-dark">Member of the Round Table</h2>
            <p class="lead font-weight-lighter text-muted">We the people behind the SportsPro present this website!</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-secondary mb-1" style="max-width: 18rem;">
                <div class="card-header">Kent Pedrocha - 101266723</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Who manages to get along with my groupmates</h5>
                    <p class="card-text">HAHAHAHA just kidding!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-1" style="max-width: 18rem;">
                <div class="card-header">Mark Trespeces - 101258258</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Loves to play Mobile Legends</h5>
                    <p class="card-text">But never gonna let you down on the assignment!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-1" style="max-width: 18rem;">
                <div class="card-header">Young Pyung Yoo - 101254379</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Loves to wake up in 12 am</h5>
                    <p class="card-text">If I didnt wake up I cannot work with my team!</p>
                </div>
            </div>
        </div>
    </div>

</div>
